{{define "form/dokodemo"}}
<a-form layout="inline">
    <a-form-item label="目标地址">
        <a-input v-model.trim="inbound.settings.address"></a-input>
    </a-form-item>
    <a-form-item label="目标端口">
        <a-input type="number" v-model.number="inbound.settings.port"></a-input>
    </a-form-item>
    <a-form-item label="网络">
        <a-select v-model="inbound.settings.network" style="width: 100px;">
            <a-select-option value="tcp,udp">tcp+udp</a-select-option>
            <a-select-option value="tcp">tcp</a-select-option>
            <a-select-option value="udp">udp</a-select-option>
            <a-select-option value="gost,ws">gost+ws</a-select-option>
            <a-select-option value="gost">gost</a-select-option>
            <a-select-option value="ws">ws</a-select-option>        
        </a-select>
    </a-form-item>
</a-form>
{{end}}
